#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gnome-terminal -- ssh debian@billerot.eu
Name=Terminal SSH sur OVH
Comment=Ouverture d'une session SSH sur le serveur OVH
Icon=xterm

